OPENAI_API_KEY=your_api_key

MODEL_PROVIDER=openai
MODEL_NAME=gpt-3.5-turbo
# gpt-3.5-turbo, gpt-4.1-nano, gpt-5.4-mini, gpt-5.5
MODEL_TEMPERATURE=0.8
MODEL_MAX_TOKENS=10000
MODEL_VERBOSE=True

SERPAPI_API_KEY=your_key

DB_URL=postgresql+psycopg://pgvector_user:p4ssw0rd@localhost:5442/vectordb
DB_RAW_URL=postgresql://pgvector_user:p4ssw0rd@localhost:5442/vectordb
DB_USER=pgvector_user
DB_PASS=p4ssw0rd
DB_NAME=vectordb

GRAPH_URL=jdbc:neo4j:bolt://localhost:7687
GRAPH_USER=neo4j
GRAPH_PASS=p4ssw0rd
GRAPH_NAME=techdoc-graph