ENVIRONMENT=dev
LANGFUSE_TRACING_ENVIRONMENT=dev
LANGFUSE_PUBLIC_KEY=your_public_key_here
LANGFUSE_SECRET_KEY=your_secret_key_here
LANGFUSE_BASE_URL=http://localhost:3000

OPENAI_API_KEY=your_api_key

MODEL_PROVIDER=openai
MODEL_NAME=gpt-3.5-turbo
# gpt-3.5-turbo, gpt-4.1-nano, gpt-5.4-mini, gpt-5.5
MODEL_TEMPERATURE=0.8
MODEL_MAX_TOKENS=10000
MODEL_VERBOSE=True

DB_URL=postgresql+psycopg://techdoc_user:p4ssw0rd@localhost:5442/techdoc_db
DB_RAW_URL=postgresql://techdoc_user:p4ssw0rd@localhost:5442/techdoc_db
DB_USER=techdoc_user
DB_PASS=p4ssw0rd
DB_NAME=techdoc_db

MCP_TECHDOC_URL=http://localhost:8000/mcp
MCP_MICROSOFT_LEARN_URL=https://learn.microsoft.com/api/mcp
MCP_AWS_URL=https://aws-mcp.us-east-1.api.aws/mcp
MCP_ALLOWED_TOOLS=["search_microsoft_learn","search_aws","search_azure"]
#MCP_AZURE_URL=__