ENV=local
DATABASE_HOST=localhost
DATABASE_USER=your_user
DATABASE_PASSWORD=your_pass
DATABASE_NAME=bookstore_database
LOG_LEVEL=INFO
LOG_FORMAT=json
RABBITMQ_CONNECTION_STRING=amqp://guest:guest@127.0.0.1/
RABBITMQ_REGISTRATION_QUEUE_NAME=dev.identity.event.user-registered.v1
RABBITMQ_NOTIFICATION_QUEUE_NAME=dev.notification.event.user-registered.v1
RABBITMQ_EXCHANGE_NAME=user.created
OKTA_ORG_URL=https://{your_org_name}.okta.com
OKTA_TOKEN=
MAILCHIMP_BASE_URL=https://mandrillapp.com
MAILCHIMP_API_KEY=
MAILCHIMP_MERGE_LANGUAGE=handlebars
MAILCHIMP_FROM_EMAIL=
MAILCHIMP_FROM_NAME=