fastapi==0.129.0
uvicorn==0.41.0
pydantic==2.12.5
pymysql==1.1.2
SQLAlchemy==2.0.46
pydantic-settings==2.13.0
pytest==9.0.2
cryptography==46.0.5
logging==0.4.9.6
python-json-logger==4.0.0
contextvars==2.4
starlette==0.52.1